@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=DM+Serif+Display:ital@0;1&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Yanone+Kaffeesatz:wght@200..700&display=swap");

nav {
  background: linear-gradient(to right, #cd968d, #cd968d);
  width: 100%;
  height: 80px;
}

.logo {
  width: 70px;
  border-radius: 50px;
  margin-left: 8%;
  margin-top: 4px;
}

nav ul {
  float: right;
  margin-right: 14%;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 560;
}

a.active,
a:hover {
  transition: 0.5s;
  color: rgb(123, 59, 69);
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  position: absolute;
}

#check {
  display: none;
}

.titulo {
  display: flex;
}

.titulo h1 {
  font-size: 5vw;
  position: relative;
  left: 150px;
  top: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #333;
}

body {
  font-family: "Shadows Into Light", cursive;
  background: #cd968d;
}

.card-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #333;
}

.card-body p {
  margin-bottom: 10px;
}

.font-weight-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: rgb(123, 59, 69);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none !important;
  background-color: #ca8277;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  margin-bottom: 0.5rem;
}

.font-weight-bold {
  font-weight: bold;
}

.separator {
  text-align: left;
  margin: 20px 0;
  position: relative;
  margin-top: 10%;
}

.separator::before,
.separator::after {
  content: "";
  position: absolute;
  width: 100%;
  border-top: 1px solid rgb(123, 59, 69);
  top: 0;
  left: 0;
}

.separator::after {
  top: 100%;
  border-top: none;
  border-bottom: 1px solid rgb(123, 59, 69);
}

.separator span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 20px 20px;
  font-size: 50px;
  color: rgb(123, 59, 69);
}

@media (max-width: 1200px) {
  .titulo h1 {
    font-size: 6vw;
  }
}

@media (max-width: 800px) {
  .titulo h1 {
    font-size: 10vw;
    margin-left: -15%;
    margin-bottom: 50px;
    background-color: #cd7373;
  }
  .container {
    margin-bottom: -300px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    position: absolute;
    right: 0;
    font-size: 30px;
    color: white;
    cursor: pointer;
    margin-top: 28px;
  }
}



@media (max-width: 360px) {
 
  #btn {
    margin-top: 100%; /* Ajusta el espacio superior del botón */
    margin-left: 60%;

  }

  #ig, #wsp {
    width: 20%;
    margin-top: 5%; /* Ajusta el espacio superior */
  }

#sin-tacc{
  margin-top: 130%;

  width: 20%;
}

  .titulo {
    margin-right: -80%; 
  }
}
