@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Shadows+Into+Light&display=swap");

body {
  background: linear-gradient(to right, #cd968d, #dfc0b9);
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  width: 80px;
  border-radius: 50px;
}

#rogel img {
  width: 60vh;
  border-radius: 50%;
  border: 15px solid rgb(165, 123, 123);
  position: relative;
  right: 100px;
}
main {
  height: 400px;
}
.st {
  width: 30px;
}
#btn {
  font-size: 40px;
  width: 30%;
}
#sin-tacc {
  width: 50px;
}
#container-st {
  width: 85%;
}
#ig {
  text-decoration: none;
  color: black;
}
#wsp {
  color: black;
}
#navbarNav {
  transform: translateX(-99px);
}
